/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

body {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Poppins', sans-serif;

}

.container {

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    background-color: #161616;
    color: white;
    padding: 20px 50px;
    width: 90%;
    border-radius: 30px;




}

.top {
    display: flex;

    margin: auto;

}

.top-banner {
    width: 50%;
    margin: auto;
    /* margin-top: 80px; */
    /* margin-bottom: 10px; */
}

.top-banner img {

    width: 70%;

}

.heading {

    font-size: 70px;
    margin: auto;


}

.top-details {
    font-size: 20px;
    font-weight: 200;
}

.watch {
    background-image: linear-gradient (orange, aqua);
    font-size: 30px;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    background-color: orange;
}

.font-icon {
    display: flex;
    align-items: center;
    gap: 40px;

}

.timing {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* second part  */
.overview {
    display: flex;
    /* width: 1280px; */
    column-gap: 30px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
}

.blog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-bottom: 30px;
}

.match-recap img {
    width: 100%;
}

.match-overview {
    border: 1px solid gray;
    border-radius: 18px;

}

.match-summery {
    width: 85%;
    margin: auto;
}

.blog-headline {

    text-align: start;
}

.contract {
    width: 30%;

    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
    margin-top: 10px;
}

.contract>a {
    text-decoration: none;

}

/* leftpart */
.left-designing {

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 30px;
    background-color: black;
    padding: 30px;

    font-weight: 600;

}

.button {
    background-color: white;
    color: black;

}

.blog-button {
    background-color: red;

}

.blog-button>a {
    text-decoration: none;
}

.blog-button p {
    color: white;


}

.button>a {
    text-decoration: none;

}



.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #161616;
    color: white;
}

.caption {
    text-align: center;
    font-size: 2rem;
}

.view {

    display: flex;
    justify-content: space-around;

}

.view>p>a {
    text-decoration: none;
}

.orange {
    list-style: none;
    color: beige;
}